---
import Layout from '../layouts/Layout.astro';
import Feature from '../components/Feature.astro';

import * as FeaturedProject1 from './projects/portfolio.md'
import * as FeaturedProject2 from './projects/development.md'
import * as FeaturedProject3 from './projects/interative_design.md'

import ProjectCard from '../components/ProjectCard.astro';

const projects = (await Astro.glob('./projects/*.md'))
	.filter(p => ![FeaturedProject1.url, FeaturedProject2.url, FeaturedProject3.url].includes(p.url))
---

<Layout title="Nathan Andrews">
	<main class="flex flex-col gap-[100px] items-center">
		<section id="landing" class="flex justify-center items-center">
			<div class="flex flex-col gap-4">
				<p class="text-highlight text-4xl font-extralight">Hello, my name is</p>
				<div>
					<p class="text-8xl font-bold">Nathan Andrews.</p>
					<p class="text-blue text-7xl font-bold">I build software.</p>
				</div>
				<p class="text-2xl leading-none font-extralight w-[25ch]">I'm a student at Brown University studying computer science.</p>
				<ul class="text-highlight font-extralight text-3xl flex justify-start mt-5">
					<li><a href="#work" class="cursor-pointer py-[15px] px-[25px] border border-highlight rounded-3xl hover:text-background hover:bg-highlight transition-all">See my work</a></li>
				</ul>
			</div>
		</section>
		<section id="about" class="mx-auto">
			<div class="flex items-center gap-3 mb-[10px]">
				<h2 class="text-4xl font-bold"><span class="text-highlight font-extralight text-2xl">01.</span> About Me</h2>
				<div class="h-px w-[300px] bg-white"></div>
			</div>
			<div class="flex gap-[40px]">
				<div class="w-[40ch] flex flex-col gap-[12px]">
					<p>Hello! My name is Nathan and I enjoy creating all things software. My interest in software began in 2020 during the pandemic when I taught myself JavaScript to stay busy.</p>
					<p>Since then I have been a student at <em class="not-italic text-highlight">Brown University</em> studying computer science and learning how to design and build good software.</p>
					<p>In addition to my studies I am an incoming software engineering intern at <em class="not-italic text-highlight">Amazon</em>.</p>
					<p>Here are some technologies that I've been using:</p>
					<ul class="marker:text-highlight list-disc columns-2 pl-[40px]">
						<li>Go</li>
						<li>JavaScript (ES6+)</li>
						<li>TypeScript</li>
						<li>React</li>
						<li>Figma</li>
					</ul>
				</div>
				<div class="w-[255px] h-[255px] bg-gray-300 rounded-[20px]"></div>
			</div>
		</section>
		<section id="work" class="flex flex-col items-center pt-[theme(height.header)]">
			<div class="flex items-center gap-3 mb-[10px]">
				<h2 class="text-4xl font-bold"><span class="text-highlight font-extralight text-2xl">02.</span> Some Things I've Made</h2>
				<div class="h-px w-[100px] bg-white">
				</div>
			</div>
			<ul class="flex flex-col gap-[60px] items-center w-[80%]">
				<Feature file={FeaturedProject1.frontmatter} alignment="left" />
				<Feature file={FeaturedProject2.frontmatter} alignment="right" />
				<Feature file={FeaturedProject3.frontmatter} alignment="left" />
			</ul>
			<h3 class="text-center text-3xl font-bold mt-[theme(height.header)]">Other Cool Projects</h3>
			<a href="/projects" class="block text-center text-highlight">view all projects</a>
			<ul class="flex gap-8 justify-center flex-wrap mt-5 w-full">
				{projects.map(p => <ProjectCard file={p} />)}
			</ul>
		</section>
		<section id="contact" class="text-center flex flex-col justify-center items-center gap-[10px] h-screen">
			<h2 class="text-6xl font-bold"><span class="text-highlight font-extralight text-4xl">03.</span> Contact</h2>
			<p class="text-2xl max-w-[41ch] font-light">My inbox is open! Feel free to ask questions or just say hi! I’ll do my best to get back to you!</p>
			<a href="mailto:nandrews.personal@gmail.com" class="text-highlight font-extralight text-3xl justify-start mt-2 w-fit block cursor-pointer py-[15px] px-[25px] border border-highlight rounded-3xl hover:text-background hover:bg-highlight transition-all">Say Hi!</a>
		</section>
	</main>
</Layout>

<style>
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}

	#landing {
		height: calc(100vh - theme(height.header));
	}

	section:not(#landing) {
		/* This is to add the padding for the content of the main content minus the landing page */
		max-width: 900px;
	}
</style>
