<div class="fixed bottom-0 right-0 flex justify-center w-sides">
  <div id="email" class="w-fit flex flex-col items-center gap-2">
    <a href="mailto:nandrews.personal@gmail.com" class="text-blue wm-vlr hover:text-highlight hover:translate-y-[-20px] transition-all">nandrews.personal@gmail.com</a>
    <div class="h-[125px] w-[2px] mr-[5px] bg-blue"></div>
  </div>
</div>
