<div id="email" class="fixed w-fit flex flex-col justify-center items-center right-[75px] bottom-0 gap-2">
  <a href="mailto:nandrews.personal@gmail.com" class="text-blue wm-vlr hover:text-highlight hover:translate-y-[-20px] transition-all">nandrews.personal@gmail.com</a>
  <div class="h-[125px] w-[2px] mr-[5px] bg-blue"></div>
</div>
