---
export interface Props {
  footerAbsolute?: boolean
}

const {footerAbsolute} = Astro.props
---

<footer class:list={["mt-auto bottom-6 text-sm text-center text-white w-full pt-10", { absolute: footerAbsolute, "mb-6": !footerAbsolute }]}>
  <p>Designed & Built by Naughty Nautilus</p>
  <p>Design heavily inspired by <a class="text-highlight" href="https://brittanychiang.com/" target="_blank">Brittany Chiang's personal website</a></p>
</footer>
