<footer class="mt-auto absolute bottom-[20px] text-sm text-center text-white w-full">
  <p>Designed & Built by Nathan Andrews</p>
  <p>Design heavily inspired by <a class="text-highlight" href="https://brittanychiang.com/" target="_blank">Brittany Chiang's personal website</a></p>
</footer>
