<footer class="mt-auto pt-[100px] mb-[20px] text-sm text-center text-white bottom-0">
  <p>Designed & Built by Nathan Andrews</p>
  <p>Design heavily inspired by <a class="text-highlight" href="https://brittanychiang.com/" target="_blank">Brittany Chiang's personal website</a></p>
</footer>
