<header class="sticky top-0 w-full flex h-header px-12 items-center bg-background z-50">
  <a href="/portfolio/" class="font-bold mr-auto text-6xl">NN</a>
  <nav class="flex text-white gap-5 items-center text-xl">
    <a href="/portfolio/" class="hover:text-highlight">Home</a>
    <a href="/portfolio/projects" class="hover:text-highlight">Projects</a>
    <a href="/portfolio/#contact" class="hover:text-highlight">Contact</a>
  </nav>
</header>
<style>
  header {
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);;
  }
</style>
