---
import Layout from "./Layout.astro"
const {frontmatter} = Astro.props
---

<Layout title={ frontmatter.title }>
  <main>
    <article>
      <h1 class="mt-8 font-bold text-6xl">{frontmatter.title}</h1>
      <slot />
    </article>
  </main>
</Layout>
<style is:global>

  article h2 {
    margin: 15px 0;
    font-size: theme(fontSize.4xl);
    color: theme(colors.blue);
    font-weight: theme(fontWeight.normal);
  }

  article h2::after {
    content: '';
    display: block;
    height: 2px;
    background: theme(colors.dark-blue);
  }

  article h3 {
    font-size: theme(fontSize.3xl);
    font-weight: theme(fontWeight.normal);
    color: theme(colors.white);
  }

  article h4 {
    font-style: italic;
    font-size: theme(fontSize.2xl);
    font-weight: theme(fontWeight.normal);
    color: theme(colors.white);
  }

  article a {
    text-decoration: underline;
    color: theme(colors.highlight);
  }

  article p {
    margin-bottom: theme(margin.5);
  }

  article ul + p, article ol + p, article blockquote + p  {
    margin-top: theme(margin.5);
  }

  article ul {
    list-style: disc;
    padding-left: theme(padding.indent);
  }

  article ol {
    list-style: decimal;
    padding-left: theme(padding.indent);
  }

  article figcaption {
    font-style: italic;
  }

  article .single-image {
    display: block;
    margin: auto;
  }

  article .single-image img {
    width: 100%;
    height: auto;
  }

  article blockquote {
    width: 100%;
    font-style: italic;
    display: flex;
    justify-content: center;
  }

  article blockquote > * {
    margin: auto 0;
    border-radius: 10px;
    padding: 20px;
    max-width: 80ch;
    background-color: theme(colors.dark-blue);
  }

  article blockquote p {
    margin: 0;
  }
</style>
